.containerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: #6b057a;
    padding: 16px;
    width: 100%;
    height: auto;

    p,a {
        color: #FFFFFF;
    }

    a {
        text-decoration: none;
        font-weight: 600;
    }

    .disclaimer {
        font-size: 12px;
    }
}